$diameter: 600px;
$radius: $diameter / 2;

$center-diameter: 24px;

$face-color: #ddd;
$hand-color: #000;

$hour-hand-length: $radius * 0.65;
$minute-hand-length: $radius * 0.95;
$second-hand-length: $radius * 0.975;

$hour-hand-width: 16px;
$minute-hand-width: 8px;
$second-hand-width: 2px;

$second-marker-length: 16px;
$second-marker-offset: $second-marker-length * 2;
$second-marker-width: 2px;
$second-marker-width-bold: 4px;

.clock {
  background: $face-color;
  border-radius: $diameter;
  height: $diameter;
  margin: 20px auto;
  position: relative;
  width: $diameter;
  z-index: -3;

  &-inner {
    background: $face-color;
    border-radius: $diameter - $second-marker-offset;
    height: $diameter - $second-marker-offset;
    left: $second-marker-length;
    position: absolute;
    top: $second-marker-length;
    width: $diameter - $second-marker-offset;
    z-index: 0;
  }

  &-center {
    background: $hand-color;
    border-radius: $center-diameter;
    height: $center-diameter;
    left: $radius - ($center-diameter / 2);
    position: absolute;
    top: $radius - ($center-diameter / 2);
    width: $center-diameter;
  }

  &-second-marker {
    background: #fff;
    height: $diameter;
    left: $radius - ($second-marker-width / 2);
    position: absolute;
    width: $second-marker-width;
    z-index: -2;

    &-bold {
      left: $radius - ($second-marker-width-bold / 2);
      width: $second-marker-width-bold;
    }
  }

  .clock-hand {
    background: black;
    left: $diameter / 2;
    position: absolute;
    transform-origin: bottom;

    &-hour {
      height: $hour-hand-length;
      left: $radius - ($hour-hand-width / 2);
      margin-top: $radius - $hour-hand-length;
      width: $hour-hand-width;
    }

    &-minute {
      height: $minute-hand-length;
      left: $radius - ($minute-hand-width / 2);
      margin-top: $radius - $minute-hand-length;
      width: $minute-hand-width;
    }

    &-second {
      height: $second-hand-length;
      left: $radius - ($second-hand-width / 2);
      margin-top: $radius - $second-hand-length;
      width: $second-hand-width;
    }
  }
}
