.overlay {
  display: flex;
  position: fixed;
  width: 100%;

  input {
    position: fixed;
    right: 0;
    top: 0;
  }

  img {
    margin: auto;
    left: 15px;
    position: relative;
    top: -390px;
  }
}